* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  @include font-face-regular;
  font-size: $font__size_mobile;
  line-height: $font__line-height_mobile;
  color: $uf-black;

  @include media-breakpoint-up(tb) {
    font-size: $font__size_base;
    line-height: $font__line-height_base;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: 300px;
  overflow-x: auto;
  background-color: $uf-white;
}

.main {
  display: block;
  padding: 30px 0 40px;

  @include media-breakpoint-up(tb) {
    padding: 50px 0 100px;
  }

  @include media-breakpoint-up(lt) {
    padding-bottom: 130px;
  }
}

.container {
  width: 100%;
  max-width: ($container__width_max + $container__padding * 2);
  margin: 0 auto;

  @include media-breakpoint-up(tb) {
    max-width: ($container__width_max + $container__padding_tb * 2);
  }

  @include media-breakpoint-up(lt) {
    max-width: ($container__width_max + $container__padding_lt * 2);
  }
}

a {
  color: $uf-blue;
  transition: color .2s;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $uf-blue-dark;
  }

  &:focus {
    outline: none;
  }
}

a[href^='tel:'] {
  white-space: nowrap;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

b, strong {
  @include font-face-medium;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.small {
  font-size: $font__size_small;
}
