h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 1.55em;
  margin-top: 1.55em;
  line-height: 1.4;
  color: $uf-black;
  text-transform: none;
  @include font-face-medium;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 1.15em;
  font-size: 23px;
  line-height: (43/36);

  @include media-breakpoint-up(tb) {
    margin-bottom: .5em;
    font-size: 36px;
  }

  @include media-breakpoint-up(tbx) {
    margin-bottom: 1em;
  }
}

h2 {
  font-size: 20px;
  line-height: (28/24);

  @include media-breakpoint-up(tb) {
    font-size: 24px;
  }
}

h3 {
  font-size: 15px;
  line-height: (28/20);
  @include font-face-regular;

  @include media-breakpoint-up(tb) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
}

h5 {
  margin-top: 2.7em;
  margin-bottom: 1.2em;
  font-size: $font__size_small;

  @include media-breakpoint-up(tb) {
    margin-top: 3.4em;
    font-size: $font__size_base;
  }
}

h6 {
  margin-top: 1.95em;
  margin-bottom: .55em;
  font-size: $font__size_small;
  @include font-face-regular;

  @include media-breakpoint-up(tb) {
    font-size: $font__size_base;
  }
}

.h1 { @extend h1;}
.h2 { @extend h2;}
.h3 { @extend h3;}
.h4 { @extend h4;}
.h5 { @extend h5;}
.h6 { @extend h6;}
