ul,
ol {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2.2em;

  > li {
    position: relative;
    margin-top: 0;
    margin-bottom: .5em;
    text-align: left;
  }
}

ul {
  > li {
    padding-left: 22px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: .65em;
      left: 0;
      font-size: 1em;
      background: $uf-blue;
    }
  }
}

ol {
  counter-reset: section;

  > li {
    display: flex;
    align-items: flex-start;

    &::before {
      content: counters(section, ".") ". ";
      counter-increment: section;
      display: block;
      flex-shrink: 0;
      min-width: 30px;
      text-align: center;
      margin-right: 16px;
      color: $uf-blue;
    }
  }
}
