.pagination {
  position: relative;
  margin: 10px 0 0;
  padding: 30px 34px 0;
  text-align: center;
  border-top: 1px solid $uf-grey-middle;

  &__el {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    @include font-face-medium;
    font-size: $font__size_mobile;

    &::before {
      display: none;
    }

    &:hover {
      .svg {
        fill: $uf-blue-dark;
      }

      > a {
        color: $uf-blue-dark;
      }
    }

    &.prev,
    &.next {
      position: absolute;
      top: 30px;
    }

    &.prev {
      left: 0;

      .svg {
        transform: rotate(180deg);
      }
    }

    &.next {
      right: 0;
    }

    &.active {
      > a,
      > span {
        color: $uf-blue;
      }
    }

    &.disabled {
      cursor: default;
      .svg {
        fill: $uf-grey-middle;
      }
    }

    > span,
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 36px;
      color: $uf-black;
    }

    .svg {
      width: 30px;
      height: 30px;
      fill: $uf-blue;
    }
  }

  @include media-breakpoint-up(phx) {
    padding: 30px 46px 0;

    &__el {
      margin: 0 3px;
      font-size: $font__size_small;

      > span,
      > a {
        width: 36px;
      }
    }
  }

  @include media-breakpoint-up(tbx) {
    margin-top: 60px;
    padding: 30px 0 0;

    &__el {
      &.prev,
      &.next {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
      }

      &.prev {
        margin-right: 10px;
      }

      &.next {
        margin-left: 10px;
      }

      .svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}
