$uf-blue:                 #007AEB;
$uf-blue-dark:            #0463BB;
$uf-black:                #231F20;
$uf-white:                #fff;
$uf-grey:                 #A9B4BA;
$uf-grey-middle:          #CDCFD0;
$uf-grey-light:           #F5F7FA;
$uf-mandarine:            #FF6601;
$uf-danger:               #EB5757;

$font__size_base:         16px;
$font__size_mobile:       13px;
$font__size_small:        14px;
$font__size_xsmall:       12px;

$font__line-height_base:  1.5;
$font__line-height_mobile:1.54;
$font__family-base:       'Rubik', sans-serif;

$container__width_max:    1200px;
$container__padding:      30px;
$container__padding_tb:   55px;
$container__padding_lt:   80px;

$grid-padding:            8px;
$grid-padding-full:       $grid-padding * 2;


//----Breakpoints from bootstrap----

$grid-breakpoints: (
  ph:   0,        //phone
  phx:  576px,    //phone large
  tb:   768px,    //tablet
  tbx:  992px,    //tablet large
  lt:   1260px,   //laptop
  dt:   1400px,   //desktop
  dtx:  1600px,   //desktop large
  dt2x: 2000px    //desktop xlarge
) !default;

//@include media-breakpoint-up(lt)
//@include media-breakpoint-down(lt)
//@include media-breakpoint-only(lt)

