.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;

  @include media-breakpoint-up(phx) {
    margin: 0 -5px;
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lt) {
    margin: 0 (-$grid-padding) 60px;
  }
}

.category {
  $self: &;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 2px;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 25px 24px;
    background: $uf-grey-light;
    transition: background-color .3s ease-out;

    &:hover {
      background: $uf-blue;

      #{$self}__title {
        color: $uf-white;
      }

      .svg {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    padding-top: 80%;
    margin-bottom: 25px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 80%;
      max-width: 80%;
    }
  }

  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    @extend h3;
    font-size: 20px;
    margin: 0;
  }

  .svg {
    display: none;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    margin-left: 12px;
    margin-top: -3px;
    fill: $uf-white;
    transform: translateX(-5px);
    transition: .3s ease-out;
    opacity: 0;
  }

  .category-list_wide & {
    width: 50%;
    margin-bottom: 4px;

    #{$self}__inner {
      padding: 20px 16px 18px;
    }

    #{$self}__title {
      font-size: 15px;
      line-height: (18/15);
    }

    #{$self}__img {
      margin-bottom: 12px;
    }
  }

  @include media-breakpoint-up(phx) {
    width: 50%;
    padding: 0 5px;

    &__inner {
      justify-content: flex-start;
    }

    &__img {
      margin-bottom: 12px;
    }

    .category-list_wide & {
      width: 33.3333%;
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-up(tb) {
    &__inner {
      padding: 12px 24px 16px;
    }

    &__img {
      padding-top: 86%;
    }

    .svg {
      display: block;
    }

    .category-list_wide & {
      #{$self}__inner {
        justify-content: space-between;
        padding: 20px 24px 18px;
      }

      #{$self}__title {
        font-size: 20px;
        line-height: (28/20);
      }

      #{$self}__img {
        img {
          max-height: 85%;
          max-width: 85%;
        }
      }
    }
  }

  @include media-breakpoint-up(tbx) {
    width: 33.3333%;

    &__inner {
      justify-content: space-between;
    }

    .svg {
      width: 36px;
      height: 36px;
    }

    .category-list_wide & {
      width: 25%;

      #{$self}__inner {
        padding: 30px;
      }

      #{$self}__img {
        padding-top: 80%;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  @include media-breakpoint-up(lt) {
    padding: 0 $grid-padding;
    margin-bottom: ($grid-padding * 2);

    &__inner {
      padding: 24px 30px;
    }

    &__img {
      padding-top: 70%;

      img {
        max-height: 90%;
        max-width: 90%;
      }
    }

    .category-list_wide & {
      #{$self}__img {
        padding-top: 100%;
      }
    }
  }
}
