.logo {
  display: block;
  line-height: 0;
  flex-shrink: 0;
  max-width: 90px;
  margin-right: 20px;

  @include media-breakpoint-up(tb) {
    max-width: none;
    margin-right: 75px;
  }

  @include media-breakpoint-up(dt) {
    margin-right: 88px;
  }
}
