.menu {
  $self: &;
  display: none;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 800px;
  margin-right: 75px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
  }

  &__el {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    &::before {
      display: none;
    }
  }

  &__el_important {
    #{$self}__link {
      color: $uf-blue;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: $font__size_small;
    color: $uf-black;

    #{$self}__el.active &,
    &:hover {
      color: $uf-blue;

      &::after {
        opacity: 1;
      }

      #{$self}__icon {
        .svg {
          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      display: block;
      height: 5px;
      opacity: 0;
      background: $uf-blue;
      transition: opacity .25s ease-out;
    }
  }

  &__icon {
    position: relative;
    display: block;
    line-height: 1;
    margin-right: 9px;

    .svg {
      fill: $uf-blue;

      &:first-child {
        opacity: 1;
      }

      &:last-child {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }

  @include media-breakpoint-up(lt) {
    display: block;

    &__el {
      height: $header__height_lt;
    }
  }

  @include media-breakpoint-up(dt) {
    margin-right: 88px;
  }
}
