.social {
  flex-shrink: 0;
  margin: 0 0 0 -8px;

  &__el {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 6px;
    color: $uf-black;

    &:last-child {
      margin-right: 30px;
    }

    &:hover {
      .svg {
        fill: $uf-blue;
      }
    }

    .svg {
      fill: $uf-black;
      vertical-align: middle;
    }
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 22px;

    &__el {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-up(lt) {
    margin-bottom: 62px;
  }
}
