.steps {
  $self: &;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  + #{$self} {
    #{$self}__img {
      &::before {
        display: block;
      }
    }
  }

  &__img {
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: '';
      display: none;
      width: 29px;
      height: 13px;
      margin: 0 auto 50px;
      transform: rotate(90deg);
      background:
              url("data:image/svg+xml,%3Csvg width='56' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.278 11.48L44.207.423a1.428 1.428 0 00-2.027 0 1.428 1.428 0 000 2.026l8.623 8.623H1.74a1.44 1.44 0 100 2.882h49.063l-8.623 8.599a1.428 1.428 0 000 2.026c.281.281.645.422 1.02.422.374 0 .737-.14 1.019-.422l11.07-11.07c.551-.551.551-1.465-.011-2.027z' fill='%23fff'/%3E%3C/svg%3E%0A")
              center
              no-repeat;
      background-size: contain;
    }

    img {
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
      max-width: 150px;
    }
  }

  &__text {
    @extend h3;
    margin: 0;

    .section_bg-dark & {
      color: $uf-white;
    }
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 0;

    &__img {
      display: block;
      height: 0;
      padding-top: 60%;
      margin-bottom: 40px;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 46px;
        height: 20px;
        transform: translate(-50%, -50%);
        margin: 0;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 56%;
      }
    }

    &__text {
      padding: 0 $grid-padding;
    }
  }

  @include media-breakpoint-up(tbx) {
    &__img {
      padding-top: 70%;
      margin-bottom: 20px;

      &::before {
        width: 56px;
        height: 25px;
      }
    }
  }

  @include media-breakpoint-up(lt) {
    &__img {
      height: 200px;
      line-height: 200px;
      padding-top: 0;

      img {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
    }
  }
}
